*{
    color:white;
    margin:0px;
    padding:0px;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}
/*Cabecera*/
.espacio{
    width: 100%;
    height: 50px;
}
.cabecera{
    display:flex;
    background: aqua;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 7px;
    padding-right: 7px;
    position: static;
    top:50px;
}
.navegacion{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
    position:fixed;
}
.navBar{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.boton{
    text-align: center;
    background: greenyellow;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 7px;
}
.cr .boton:active{
    background: green;
}
.cr .boton:hover{
    color:rgb(65, 247, 105);
}
/*Cuerpo*/
.cuerpo{
    background: rgb(144, 255, 129);
    height: 645px;
    width: 100%;
    display: flex;
    justify-content:center;
}
.centro{
    background-color: rgb(209, 255, 230);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgs{
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.insignias{
    background: gray;
    border-radius: 20px;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.info{
    height: 330px;
    width: 80%;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
    padding: 20px;
}
.atr{
    color:black;
    font-size: 1.5rem;
}
/*Pie de Pagina*/
.pie{
    width: 100%;
    height: 100px;
    background: black;
}
